# SubServers 2 Ignored Files

*.iml

## Directory-based project format:
.idea/

## File-based project format:
*.ipr
*.iws

## Plugin-specific files:

# IntelliJ
/out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties

# Hide Unfinished Project Files
/Artifacts/SubServers.Sync.jar
/SubServers.Sync/
/Artifacts/SubServers.Web.jar
/SubServers.Web/

# Hide Others
/Artifacts/-History/
/Artifacts/-Icon/
/Artifacts/SubServers.Test.jar
/SubServers.Test/
/build.ant
.DS_STORE
.alias